<div *ngIf="births">
   <div>
      <table class="table table-hover table-responsive">
         <thead>
           <tr>
             <th scope="col">Année</th>
             <th scope="col" *ngFor="let n of births.records">{{n.fields.annee}}</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">Garçons</th>
             <td *ngFor="let n of births.records">{{n.fields.garcons}}</td>
           </tr>
           <tr>
            <th scope="row">Filles</th>
            <td *ngFor="let n of births.records">{{n.fields.filles}}</td>
          </tr>
            <tr>
               <th scope="row">Indeterminés</th>
               <td *ngFor="let n of births.records">{{n.fields.indetermine}}</td>
            </tr>
            <tr>
               <th scope="row">Né à l'hopital</th>
               <td *ngFor="let n of births.records">{{n.fields.lieu_hopital}}</td>
            </tr>
            <tr>
               <th scope="row">Né en clinique</th>
               <td *ngFor="let n of births.records">{{n.fields.lieu_clinique}}</td>
            </tr>
            <tr>
               <th scope="row">Né à domicile</th>
               <td *ngFor="let n of births.records">{{n.fields.lieu_domicile}}</td>
            </tr>
            <tr>
               <th scope="row">Né autre part</th>
               <td *ngFor="let n of births.records">{{n.fields.lieu_autres}}</td>
            </tr>
            <tr>
               <th scope="row">Domicilié à Rennes même</th>
               <td *ngFor="let n of births.records">{{n.fields.dp_rennes}}</td>
            </tr>
            <tr>
               <th scope="row">Domicilié autre part</th>
               <td *ngFor="let n of births.records">{{n.fields.dp_exterieur}}</td>
            </tr>
         </tbody>
       </table>
   </div>
</div>
