<br>
<br>
<br>
<br>
<div class="d-flex justify-content-around">
   <div class="card" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title">Github</h5>
      <p class="card-text">Nous rejoindre sur github !</p>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/DeeWann450/ProjetWeb" class="btn btn-primary stretched-link">Go</a>
      </div>
   </div>

   <div class="card" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title">Email - Gwen Le Viavant</h5>
      <p class="card-text">Envoyer un email à Gwen</p>
      <a href="mailto: le-viavant.e1702984@etdu.univ-ubs.fr" class="btn btn-primary stretched-link">Go</a>
      </div>
   </div>

   <div class="card" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title">Email - Johan Souplis</h5>
      <p class="card-text">Envoyer un email à Johan</p>
      <a href="mailto: johan.souplis@outlook.fr" class="btn btn-primary stretched-link">Go</a>
      </div>
   </div>
</div>